
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* shere style  */
.display-flex{
    display:flex ;
}

/* nav style */
.nav-bar{
    align-items: center;
    justify-content: space-between;
    margin: 0rem 7.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 15px;
    font-weight:600;
    color: #3A3A3A;
}
.nav-link{
   text-decoration: none;
}

.arrow{
    align-items: center;
}

/* banner style */
.heading-page {
    font-weight: 700;
    font-size: 3rem;

}
.heading-contain{
    font-weight: 600;
    font-size: 1rem;
}
.button-prim{
    background-color: #E02C6D ;
    color: #FFFFFF ;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 41px; 
    padding: 12px 24px;
    display: flex;
       align-items: center;
    gap: 8px;
    
}
.item-1{
    margin-left: 7.5rem;
    
}
.item-2{
    background-image:url(./images/Circle\ design.svg) ;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-right: 8rem ;

}
.front-view{
    justify-content: space-between;
    align-items: center;
}

/* 2nd Page */
.logos{

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  
   
}

.logo{
    margin-right: 4rem;
    
}
.nd-page{
    align-items: center;
     margin: 4rem auto;
     Max-width: 1110px;
     justify-content: center;
    box-shadow: 0 1px 8px rgba(170, 170, 170, 0.15);
    
}

/* card shere item */
.cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}

.card-item{
    max-width: 1047px;
    margin: 2rem auto 5rem;
    justify-content: center;
}
.card-heading{
    text-align: center;
    margin-bottom: 30px;
}
.card{
    background-color: #FFFFFF;
        border-radius: 8px;

    /* Shadow */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);

    opacity: 1;
    padding: 15px;
}
.star-item{
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    width: 122px;
}
.last-part{
    display: flex;
    align-items: center;
     justify-content: flex-end;
}
.last-p{
    color: #E02C6D;
    font-weight: 700;
}